<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        <!-- sceditor -->
        <link rel="stylesheet" href="~/Scripts/minified/themes/default.min.css" type="text/css" media="all" />
        <script type="text/javascript" src="~/Scripts/minified/jquery.sceditor.xhtml.min.js"></script>
        <script type="text/javascript">
            $(function () {
                $("textarea").sceditor({
                    plugins: "xhtml",
                    style: "Scripts/minified/jquery.sceditor.default.min.css"
                });
            });
        </script>
        <!-- sceditor -->
        @RenderSection("scripts", required: false)
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("Сайт візитка", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Головна", "Index", "Home")</li>
                            <li>@Html.ActionLink("Інфо", "About", "Home")</li>
                            <li>@Html.ActionLink("Контакти", "Contact", "Home")</li>
                            <li>@Html.ActionLink("Добавити новину", "AddPost", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Мій сайт</p>
                </div>
            </div>
        </footer>
    </body>
</html>
