@model IhorsSlaves.Models.ShowPostsOnPages

@foreach (var p in Model.Posts)
{
    <header>
        <h2>@Html.ActionLink(p.PostName, "FullPost", new { PostId = p.PostId })</h2>
    </header>
    <p>
        @Html.Raw(p.Text)
    </p>

    <ul>
        <li>
            @p.PostDate.ToShortDateString() 
            @Html.Label("Comments: ") @p.Comments.Count
            @Html.ActionLink(p.PostUser, "Manage", "Account")
        </li>
    </ul>
}
