@model IhorsSlaves.Models.ShowPostsOnPages

@foreach (var p in Model.Posts)
{
    <div class="post">
   
        <h2>@Html.ActionLink(p.PostName, "FullPost", new { PostId = p.PostId })</h2>
    
        <div class="shortpost">
        @Html.Raw(p.Text)
        </div>
    <ul>
        <li>
            @p.PostDate.ToShortDateString() 
            @Html.Label("Comments: ") @p.Comments.Count
            @Html.ActionLink(p.PostUser, "Manage", "Account")
                <div id="line" ></div>   
        </li>
    </ul>
    </div>
}
