@using IhorsSlaves.Models
@model ViewPostModel

@{
    ViewBag.Title = Model.Post.PostName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    <link rel="stylesheet" href="~/Scripts/minified/themes/default.min.css" type="text/css" media="all" />
}

<body>
    <header>
        <h2>@Model.Post.PostName</h2>
    </header>
    <p>
        @Html.Raw(Model.Post.Text)
    </p>

    <div id="data">
        @Model.Post.PostDate
        @Html.ActionLink(Model.Post.PostUser, "Manage", "Account")
        @if (ViewBag.PostUser)
        {
            @Html.ActionLink("Edit", "EditPost", new { PostId = Model.Post.PostId })
            @Html.ActionLink("Delete", "DeletePost", new { PostId = Model.Post.PostId })
        }
    </div>
    <div class="comments">
        <h1>Comments:</h1>
        @if (Model.Post.Comments != null)
        {
            foreach (Comment comment in Model.Post.Comments)
            {
            <div>
                <h3>User: @comment.User</h3>
                <p>@Html.Raw(comment.Content)</p>
            </div>
            }
        }

        <div>
            <h2>Добавити коментар:</h2>
            @using (Html.BeginForm("AddComment", "Home", FormMethod.Post))
            {
                @Html.TextAreaFor(m => m.Comment.Content, new { @Class = "ckeditor", @Id = "editor1", @Cols = 20, @Rows = 10 });
                @Html.ValidationMessageFor(m => m.Comment.Content);
                @Html.HiddenFor(m => m.Comment.PostId, new { @Value = Model.Post.PostId });

                                                                                          if (User.Identity.IsAuthenticated)
                                                                                          {
                @Html.HiddenFor(m => m.Comment.Email, new { @Value = "jhustFor@valid.com" }); 
                @Html.HiddenFor(m => m.Comment.User, new { @Value = "justforvalid" });
                                                                                          }
                                                                                          else
                                                                                          {
                <h3>User name:</h3> @Html.TextBoxFor(m => m.Comment.User);
                @Html.ValidationMessageFor(m => m.Comment.User);
                <h3>Email:</h3> @Html.TextBoxFor(m => m.Comment.Email);
                @Html.ValidationMessageFor(m => m.Comment.Email);
                                                                                          }
                    
                <input type="submit" value="Add" />
            }
        </div>


    </div>
</body>
